@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


.navbar {
    background-color: transparent;
    font-family: 'Poppins';
    font-size: larger;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar li a {
    color: white !important;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 25px;
}

.navbar-toggler {
    border: none;
}

.navbar li a:hover {
    color: yellow !important;
    scale: 1.1;
}


.navbar img {
    width: 90px;
}

body {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}

header {
    background-image: url('../img/fondoDjNano.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100%;
    height: 100%;
}

.spotify {
    width: 100%;
    height: 50vh;
}


/* Boton Music */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.boton button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    background: #fbff21;
    border: 2px solid black;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition: 500ms;
}

.boton button:after {
    content: '';
    position: absolute;
    transform: translateX(-35px) translateY(-20px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

.boton button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.boton button:hover:after {
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

.boton button:focus {
    outline: none;
}

.boton {
    text-align: center;
}

.boton button a {
    text-decoration: none;
    color: black;
}

/* Scroll top de la página */

#btnScrollToTop {
    z-index: 100;
    position: fixed;
    border-radius: 50%;
    width: 80px;
    right: 40px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: #fbff21;
    border: 2px solid black;
}

#btnScrollToTop a {
    text-decoration: none;
    color: black;
}

#btnScrollToTop:hover {
    transform: scale(1.2);
}

#Music h1 {
    margin-top: 5%;
    text-align: center;
    color: #fbff21;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
}

#Music {
    scroll-snap-type: y mandatory;
    text-align: center;
    height: 100vh;
    background-color: rgb(26, 25, 25);
}


#Music .title {
    margin-top: 30px;
}

#Music .title h1 {
    background-image: url(https://media0.giphy.com/media/xTk9ZzlvUqB4mnDAyY/giphy.gif?cid=ecf05e47tsbdgkf0z645uk43oxe2ln03zbezvi8rkmewy9pe&rid=giphy.gif&ct=g);
    background-size: cover;
    color: transparent;
    background-clip: border-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: calc(3.5rem + 2vw);
    margin: 10px 0;
}

#Tour .title h1 {
    background-image: url(https://media0.giphy.com/media/xTk9ZzlvUqB4mnDAyY/giphy.gif?cid=ecf05e47tsbdgkf0z645uk43oxe2ln03zbezvi8rkmewy9pe&rid=giphy.gif&ct=g);
    background-size: cover;
    color: transparent;
    background-clip: border-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: calc(3.5rem + 2vw);
    margin: 10px 0;
}

#Tour h1 {
    margin-top: 5%;
    text-align: center;
    color: #fbff21;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;

}

#Tour {
    text-align: center;
    height: 100vh;
    background-color: rgb(59, 58, 58);
    background-image: url('../img/musicfestival-1648919924902-5064.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


#Tour .title {
    margin-top: 30px;
}

.table thead {
    font-weight: 700;
    color: #fbff21;
    font-size: 22px;
}

.table tbody tr {
    cursor: pointer;
}

.table tbody tr:hover {
    background-color: #fbff216e !important;
    color: black !important;
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}

.table td {
    border-top: #fbff21 solid 2px !important;
}

.table th {
    border-top: #fbff21 solid 2px !important;
    border-bottom: #fbff21 solid 2px !important;
}


#Releases h1 {
    margin-top: 5%;
    text-align: center;
    color: #fbff21;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
}

#Releases {
    scroll-snap-type: y mandatory;
    text-align: center;
    background-color: rgb(26, 25, 25);
}


#Releases .title {
    margin-top: 30px;
}

#Releases .title h1 {
    background-image: url(https://media0.giphy.com/media/xTk9ZzlvUqB4mnDAyY/giphy.gif?cid=ecf05e47tsbdgkf0z645uk43oxe2ln03zbezvi8rkmewy9pe&rid=giphy.gif&ct=g);
    background-size: cover;
    color: transparent;
    background-clip: border-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: calc(3rem + 2vw);
    margin: 10px 0;
}

#Releases .container {
    margin-top: 5%;
    margin-bottom: 10%;
}

#Releases img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    opacity: 0.5;
}

.fa-brands {
    color: white;
    font-size: 20px;
    ;
}

.fa-brands:hover {
    color: #fbff21;
    font-weight: bold;
}

@keyframes spin {
    0% {
        rotate: -360deg;
    }
}

@media (max-width:990px) {
    .container img {
        padding: auto;
        width: 97%;
    }
}

.logo:hover {
    animation: spin 2.5s linear infinite;
}
