*{
    margin: 0;
}

#formulario{
    background-color: rgb(247, 250, 253);
    border-radius: 15px;
    box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.52);
}

#table-responsive{
    background-color: rgb(247, 250, 253);
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.52);
}