@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}



::-webkit-scrollbar {
    display: none;
}

header {
    height: 80px;
    background: #546FE7;
    margin-bottom: 3%;
}

main {
    min-height: 70vh;
}

body {
    min-height: 100vh;
}

.navbar {
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}

.logo {
    font-family: 'Nunito', sans-serif;
    margin-left: 3%;
    float: left;
    padding: 16px 0;
    color: #273b91;
    font-weight: 500;
    text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.3);  
    display: flex;
    align-items: center;
    min-height: 80px;
}

#FP {
    color: yellow;
    font-weight: 900;

}

.menu {
    font-family: 'Poppins', sans-serif;
    margin-right: 3%;
    float: right;
    display: flex;
    align-items: center;
    min-height: 80px;
}

.menu a {
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
}

#activo {
    color: rgb(235, 235, 44);
    font-weight: 700;
}

.menu a:hover {
    background: #273b91;
    transform: scale(1.1);
}

a.login {
    background: #273b91;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
}

a.login:hover {
    background: #fff;
    color: #273b91;
    font-weight: 500;
    letter-spacing: 2px;
}

main {
    margin-left: 3%;
    margin-right: 3%;

}

#profesor {
    margin-right: 2%;
    float: left;
    width: 30%
}


#paleta {
    margin-top: 150px;
    float: right;
    width: 30%;
}

.contenido p {
    font-size: 18px;
    margin-right: 3%;
}

.contenido a {
    font-weight: 500;
}

.contenido ol .contenido a {
    text-decoration: none;
    color: #3886e6;
    font-weight: bold;
}

.columna_derecha {
    width: 20%;
    height: auto;
    float: right;
    position: relative;
    margin-left: 3%;
}

.columna_derecha * dt {
    margin-left: 20px;
    font-size: 0.9em;
    font-weight: bold;
}

.columna_derecha * dd {
    margin-left: 20px;
    padding-bottom: 15px;
}

#titulo_columna {
    margin-left: 3%;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3%;
    color: #273b91
}

.columna_derecha a {
    text-decoration: none;
    color: #3886e6;
    font-weight: 400;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2%;
    color: #273b91;
    font-size: 30px;
    font-weight: 700;
}

.parte2 {
    margin-top: 9%;
}

.parte2 ol {
    margin-top: 15px;
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
}

.parte2 ol li {
    margin-left: 3%;
    position: relative;
    padding-left: 50px;
    min-height: 50px;
    padding-top: 0.5%;
}

.parte2 ol li:before {
    content: counter(li);
    counter-increment: li;
    color: #fff;
    background: #3886e6;
    border-radius: 50%;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.texto2 {
    margin-top: 15px;
    color: #273b91
}

/* --------------------CSS para estilizar el footer--------------------------------*/

footer {
    color: #fff;
    background-color: rgb(51, 48, 48);
    margin-top: 2%;
    width: 100%;
    padding-top: 40px;
    min-height: 100%;
    bottom: 0;
    margin-bottom: 0px;
}

.contenido_footer {
    height: 40px;
    background-color: rgb(51, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.copyright {
    background-color: rgb(29, 28, 28);
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}

.copyright p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.copyright span {
    text-transform: uppercase;
    color: #273b91;
    font-weight: 800;
}

/* Apartado de enlaces a redes sociales en el footer */
.redes ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.redes li {
    margin: 0 20px;
}

.redes i {
    width: 60px;
}


.redes a {
    text-decoration: none;
    color: #fff;
}

.redes li:hover {
    transform: scale(1.1);
}

.redes a:hover {
    color: #273b91;

}

/* -------------------------------------------------------------------------- */

/* --------------------P치gina de informaci칩n  y cursos*------------------------------ */

.contenido2 {
    margin-left: 5%;
    margin-right: 10%;
}

.contenido2 img {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    margin: auto;
    display: block;
}


.tituloBarra {
    /* Barra lateral azul al lado de los titulos*/
    line-height: 1.5rem;
    border-left: 12px solid #273b91;
    padding: 1rem 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    font-size: 30px;
    font-weight: 700;
}

.contenido2 p {
    font-size: 18px;
}

.contenido2 ul {
    margin-top: 15px;
    margin-bottom: 15px;
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
}

.contenido2 ul li {
    margin-left: 3%;
    position: relative;
    padding-top: 0.5%;
    padding-left: 50px;
    min-height: 50px;
}

.contenido2 ul li:before {
    content: counter(li);
    counter-increment: li;
    color: #fff;
    background: #273b91;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.tituloBarra2 {
    line-height: 1rem;
    border-left: 12px solid #273b91;
    padding: 1rem 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 700;
}

.contenido2 h4 {
    font-weight: 500;
    background-color: rgb(162, 189, 214);
    border: 2px solid black;
    padding: 8px;
    margin-bottom: 15px;
    text-decoration: none;
}

.contenido2 a {
    text-decoration: none;
    color: rgb(32, 31, 31)
}

.contenido2 a:hover {
    color: #273b91;
}


/* -------------------------------------------------------------------------- */


/* Bot칩n para que al pulsarlo suba a la parte de arriba de la p치gina */

.botonTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #273b91;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
}

.botonTop img {
    width: 30px;
    height: auto;
}

.botonTop:hover {
    transform: scale(1.2);
}

/* -------------------------------------------------------------------------- */

.contenido3 {
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 12%;
    margin-bottom: 4%
}

.contenido3 a {
    text-decoration: none;
    color: #273b91;
    font-weight: bold;
}

.tituloAyuda {
    font-size: larger;
    color: rgb(34, 34, 34);
    border-bottom: 2px solid #273b91;
    margin-bottom: 35px;
    margin-top: 35px;
}


.tituloAyuda::before {
    content: "游눫"
}



/* CSS para hacerlo algo responsive, para que se visualice en el formato de la pantalla de clase y en una pantalla 1920x1080 */

@media screen and (max-width:900px) {
    .menu {
        max-width: 400px;
        display: none;
    }
}

@media (min-width: 1600px) {

    main {
        margin-left: 5%;
    }

    .contenido p {
        font-size: 120%;
    }

    #titulo_columna {
        font-size: 20px;
    }

    #profesor {
        width: 400px;
    }

    #paleta {
        width: 400px;
    }

    .titulo {
        font-size: 30px
    }

    .columna_derecha {
        font-size: 110%;
    }

    .menu a {
        font-size: 90%;
    }

    .logo {
        padding-top: 12px;
        margin-top: 0;
        font-size: 40px;
    }

    .parte2 ol li {
        font-size: 110%;
    }

    .texto2 {
        font-size: 110%;
    }

}

/* -------------------------------------------------------------------------- */